.ChatListItem {
  height: 60px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: steelblue;
  border-radius: 10px;
  cursor: pointer;
  opacity: .5;
}

.ChatListItem.ChatListItem_active {
  opacity: 1;
}

.ChatListItem:not(:last-of-type) {
  margin-bottom: 20px;
}

.ChatListItem__image {
  width: 58px;
  height: 58px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 10px;
}

.ChatListItem__description {
  flex-grow: 2;
}

.ChatListItem__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.ChatListItem__name {
  margin: 0;
  text-transform: uppercase;
}