.Message {
  background-color: steelblue;
  display: inline-block;
  max-width: 80%;
  padding: 5px 10px;
  border-radius: 10px;
  flex-shrink: 2;
  margin-bottom: 10px;
  user-select: none;
}

.Message:not(:last-of-type) {
  margin-bottom: 20px;
}

.Message__author {
  margin: 0;
  margin-bottom: 5px;
  font-size: .8rem;
  font-weight: 900;
  color: #c0392b;
}

.Message__text {
  margin: 0;
  word-break: break-all;
}

.Message__date {
  text-transform: uppercase;
  float: right;
  margin-left: 10px;
  font-size: .8rem;
  margin-top: 5px;
}

.Message__header {
  display: flex;
  justify-content: space-between;
}